.container{
    padding: 5rem;
}

header{
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #5794F4;

    .title{
        background-color: inherit;
    }
}

.add-item{
    input {
        padding: 0.8rem 0.5rem;
        border-radius: 10px;
        width: 25%;
        border: 1px solid #bbb;
        outline: none;

        &:focus {
            border-color: #0064DB;
        }
    }
    
    button{
        color: white;
        padding: 0.5rem 1rem;
        margin: 0rem 1rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1rem;
        background-color: #4CAF50;
        
        &:disabled {
            background-color: #e7e7e7;
            color: #24262A;
            cursor: not-allowed;
        }
    }
} 

.items-list-wrapper{
    margin: 2rem 0rem;

    ul{
        list-style: none;
    }

    .card{
        width: 100px;
        margin-right: 1rem;
        background-color: #f3ca20;
        border-top: 1px solid #24252A;
        border-bottom: 1px solid #24252A;
        font-family: "Syne Mono", monospace;
        padding: 1rem;
        border-radius: 10px;
        color: #24252A;
        display: inline-block;
        position: relative;
    }

    .fruit{
        font-style: italic;
        background-color: #3BB9FF;
    }

    .items-list{
        margin-top: 1rem;
    }
}

.close {
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 5px 10px;
    transform: translate(0%, -50%);
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 20px;
      
	&:hover {
		background: #EB000E;
	}
	
}
 