header{
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #5794F4;

    .title{
        background-color: inherit;
        font-family: Georgia, sans-serif;
        letter-spacing: 2px;
    }
}

.container{
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
    > *{
        width: 50%;
    }
}